.p{
    font-family: fantasy;
    font-weight: bold;
    font-size: x-large;
    color: rgb(97, 29, 207);
    border: ridge;
    width: 25%;
    text-align: center;
    border-color: burlywood;
    background-color: rgb(161, 170, 170);
    margin: auto;
}


.Title{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-align: center;
    margin: 20px auto;
    color: black;
}

.button{
    background-color:  darkgreen;
    color: white;
    padding: 10px 50px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
}

table, tr, td, th{
    border: solid black;
    border-collapse: collapse;
    text-align: left;
    padding: 5px;
    margin: auto;
}

table{
    width: 50%;
}

th{
    height: 50px;
}

                